.main {
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  font-family: Roboto,nsk,-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,Helvetica Neue,Helvetica,Arial,Malgun Gothic,"\B9D1\C740   \ACE0\B515",Dotum,돋움,sans-serif;
  background-color: #fcfaf7; 
}
.homecard{
  display: flex;
    flex-direction: column;
}
.homecard > div{
  padding: 15px 15px 0 ;
  margin: 10px 10px;
  justify-content: space-between;
  
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: calc(100% - 28px) 25px;
  border-radius: 15px;
  box-shadow: 8px 7px 15px rgba(28,28,28,0.04);
  box-sizing: border-box;
  text-align: left;
  max-width: 100%;
}
.homecard button{
  padding: 0 15px;
  margin: 0 10px;
  justify-content: space-between;
}
.homecard span{display:block
}
.h2{
  margin: 60px 15px 15px;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .homecard{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px 10px;
  }
.homecard > div{
  padding: 15px 15px 0 ;
  margin: 0 10px;
  justify-content: space-between;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: calc(100% - 28px) 25px;
  border-radius: 15px;
  box-shadow: 8px 7px 15px rgba(28,28,28,0.04);
  box-sizing: border-box;
  text-align: left;
}
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

